<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Bacterial Growth Calculator</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <style>
        table.center {
            margin-left: auto; 
            margin-right: auto;
          }
        
        th {
        text-align: center;
        }

        td {
        text-align: center;
        }

        </style>
    </head>
    <body class ="bg-dark">
        <div class = "container">
            <div class = "jumbotron mt-3">
            <center><h1 style="font-family:serif" class = "bold">Growth Rate Calculator App</h1></center>
            <hr>
            <form method = "POST" action = "/GRCalc">
                <center>
                <a href="/">Home</a>
                &nbsp;
                <a href="IPCalc">Initial Population Calculator</a>
                &nbsp;
                <a href="FPCalc">Final Population Calculator</a>
                &nbsp;
                <a href="ETCalc">Time Elapsed Calculator</a>
                </center>
                <hr>
                <center><label for = "bacteria_name"> <b>Bacteria ID: </b></label></center>
                <center><input for = "text" name = "bacteria_name"></center>
                <br>
                <br>
                <table class = "table" class = "center" >
                    <tr>
                        <th><label for = "initial_population">Initial Population: </label></th>
                        <th><label for = "final_population">Final Population: </label></th>
                        <th><label for = "time"> Time Elapsed: </label> </th>
                    </tr>
                        <tr>
                            <td><input for = "text" name = "initial_population"></td>
                            <td><input for = "text" name = "final_population"> </td>
                            <td><input for = "text" name = "time"> </td>
                        </tr>
                </table>
                
                <center><input type = "submit" value = "Calculate and Store"></center>
                <br>
            </form>
            
            {% if alert != "" %}
                {% if " must be " in alert %}
                    <div class="alert alert-danger" role="alert">
                        <center>
                        {{alert}}
                        </center>
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        <center>
                        {{alert}}
                        </center>
                    </div>
                {% endif %}
            {% endif %}
            <hr>
            <center><h1 style="font-family:serif" class = "bold">Completed Set of Information</h1></center>
            <hr>
            <table class = "table">
                <tr>
                    <th>Bacteria ID</th><th>Initial Population (Cells)</th><th>Final Population (Cells)</th><th>Growth Rate (% of Cells/Second)</th><th>Elapsed Time (Seconds)</th><th>Doubling Time (Seconds)</th><th>Half Life (Seconds)</th>
                </tr>
                {% for bacteria in BACTERIAS %}
                    <tr>
                        <td>{{bacteria[0]}}</td><td>{{bacteria[1]}}</td><td>{{bacteria[2]}}</td><td>{{bacteria[3]}}</td><td>{{bacteria[4]}}</td><td>{{bacteria[5]}}</td><td>{{bacteria[6]}}</td>
                    </tr>
                {% endfor %}
            </table>
            </div>
            
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    </body>
</html>