<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome to the Bacteria Growth Calculator</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    </head>
    <body class ="bg-dark">
        <div class = "container">
            <div class = "jumbotron mt-5">
            <form method = "POST" action = "/">
            <center><h1 style="font-family:serif" class = "bold">Bacterial Growth Calculator App</h1></center>
            <br>
            <center>
            <a class="text-monospace" href="GRCalc">Growth Rate Calculator</a>
            <br>
            <a class="text-monospace" href="IPCalc">Initial Population Calculator</a>
            <br>
            <a class="text-monospace" href="FPCalc">Final Population Calculator</a>
            <br>
            <a class="text-monospace" href="ETCalc">Time Elapsed Calculator</a>
            </center>
            </form>
            </div>

            <div class = "jumbotron mt-5">
                <center><h1 style="font-family:serif" class = "bold">What The Calculator Does</h1></center>
                <hr>
                <center><p>This calculator calculates growth rate of bacteria and things like initial/final populations and 
                elapsed time based on the growth rate. It will also calculate either the doubling time or half-life 
                of the bacteria depending on if the growth rate is positive or negetive. The calculator will solve for the data requested and display 
                a completed set of data in table.
                </p></center>
                <hr>
                <ul class = "bold">
                    <li>Growth Rate: Rate at which a population either grows or decays (negetive growth rate)</li>
                    <li>Doubling Time: Time it takes for a population to double</li>
                    <li>Half-Life: Time it takes for a population to half</li>
                    <li>Initial/Final Population: Population counts at two different points in time</li>
                </ul>
                <hr>
                <center><p>
                While the purpose of this program is to calculate details for bacteria, it can really be used in any 
                case where there is exponential growth.
                </p></center>
                <hr>
                <center><p>
                    <b>Made by Abbas Rizvi</b>
                </p></center>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    </body>
